@import "fonts/computermoderntypewritervariable/cmun-typewriter-variable.css";
@import "fonts/computermoderntypewriter/cmun-typewriter.css";

/*
body
{
    font-family: "Computer Modern Typewriter Variable";
    border: none;
    margin: auto;
    overflow-y: scroll;
}
*/

html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Computer Modern Typewriter Variable";
  color: #333;
  font-size: 1.0em;
}

#contenu {
  padding: 0 1em;
  margin: 0 auto;
  min-width: 520px;
  max-width: 800px;
  font-size: 1.0em;
}

#contenu img
{
    max-width:80%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#contenu .recettes
{
    display:flex;
    flex-flow:row-reverse wrap;
    justify-content:flex-end;
    align-items:center;
}

#contenu .recettes .vignette
{
    flex-grow:0;
    flex-shrink:1;
    flex-basis:40%;
    min-width:320px;
}

#contenu .recettes .vignette img
{
    width:100%;
}

#contenu .recettes .liste
{
    flex:none;
    margin-right:auto;
    width: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#contenu .inline
{
    display:inline-block;
}

#contenu .legende
{
  width: 100%;
  font-size:90%;
  text-align:center;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

article > #recette ul, article > #recette ol {
  list-style-type: disc;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  padding-inline-start: 40px;
}

article > #recette p {
  text-indent: 0;
}

#recette {
  color: black;
}

button
{
    background-color: white;
    font-family: "Computer Modern Typewriter";
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    margin: 2px;
    padding: 2px 6px;
    cursor: pointer;
}

button.active {
    background-color: black;
    color: white;
}

button.inactive {
    background-color: white;
    color: black;
}

/* Reverse style to avoid e-mail mining bots. Original idea by Seb Sauvage
 * (http://sebsauvage.net/), or at least, that's where I found it. */
span.baddirection 
{ 
    unicode-bidi:bidi-override; 
    direction: rtl; 
}

/* Different styles for internal/external links */
a[href^=http]
{
    text-decoration:none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

#serious li a
{
    text-decoration: none;
    border-bottom-style: none;
}

/* More space between bullet points */
#serious ul li {
    padding: 5px 0px;
}

/* Less space between sub-bullet points */
#serious ul li ul li{
    padding: 2px 0px;
}

#lastupdated {
    color: #888;
    font-size: small;
    text-align: right;
}

#serious #thesispicture {
    height: 155px;
    max-width: 100%;
    margin: 10px 20px 20px;
    float: right;
}
